In [14]:
import pickle
# load merged_final.pkl
merged_final = pickle.load(open("merged_final.pkl", "rb"))

In [15]:
merged_final.head()

,match_id,label,probability,team_id,team,player,player_id,competition_id,season_id,competition_name,season_name
0,3890561,0,0.001017,181,"3632 Schalke 04 Name: team, dtype: object","3632 Leroy Sané Name: player, dtype: object",3053,9,27,1. Bundesliga,2015/2016
1,3890561,0,0.083545,181,"3644 Schalke 04 Name: team, dtype: object",3644 Jean-Eric Maxim Choupo-Moting Name: pl...,3499,9,27,1. Bundesliga,2015/2016
2,3890561,1,0.962489,175,"3653 Hoffenheim Name: team, dtype: object","3653 Sebastian Rudy Name: player, dtype: ob...",6039,9,27,1. Bundesliga,2015/2016
3,3890561,0,0.006209,181,"3654 Schalke 04 Name: team, dtype: object","3654 Younès Belhanda Name: player, dtype: o...",5242,9,27,1. Bundesliga,2015/2016
4,3890561,0,0.030138,181,"3656 Schalke 04 Name: team, dtype: object","3656 Leroy Sané Name: player, dtype: object",3053,9,27,1. Bundesliga,2015/2016

In [16]:
merged_final.columns

Index(['match_id', 'label', 'probability', 'team_id', 'team', 'player',
       'player_id', 'competition_id', 'season_id', 'competition_name',
       'season_name'],
      dtype='object')

In [22]:
import pandas as pd

# Assuming your DataFrame is named 'merged_final'

# Step 1: Group by 'competition_id', 'season_id', 'player_id'
grouped_data = merged_final.groupby(['competition_id', 'season_id', 'player_id'])

# Step 2: Compute the sum of 'label' and 'probability' and count the rows for each group
agg_data = grouped_data.agg({'label': ['sum', 'count'], 'probability': 'sum', 'match_id': 'count', 
                              'team_id': 'first', 'team': 'first', 'player': 'first',
                              'competition_name': 'first', 'season_name': 'first'})

# Step 3: Flatten the multi-level columns
agg_data.columns = agg_data.columns.map('_'.join).str.strip('_')

# Step 4: Compute the ratio of sum of probability to sum of label
agg_data['ratio'] = agg_data['probability_sum'] / agg_data['label_sum']

# Step 5: Sort the DataFrame by the 'ratio' column in descending order
agg_data = agg_data.sort_values(by=['competition_id', 'season_id', 'ratio'], ascending=[True, True, False])

In [42]:
agg_data.loc[(12, 27)].head()

,label_sum,label_count,probability_sum,match_id_count,team_id_first,team_first,player_first,competition_name_first,season_name_first,ratio
player_id,,,,,,,,,,
3103,0,1,0.826082,1,236,"3579 Lazio Name: team, dtype: object","3579 Milan Biševac Name: player, dtype: object",Serie A,2015/2016,inf
3579,0,2,0.446689,2,224,"3160 Juventus Name: team, dtype: object",3160 Roberto Maximiliano Pereyra Name: play...,Serie A,2015/2016,inf
5661,0,5,2.090958,5,243,"3308 AC Milan Name: team, dtype: object","3308 M''Baye Babacar Niang Name: player, dt...",Serie A,2015/2016,inf
6593,0,1,0.024781,1,238,"3346 Inter Milan Name: team, dtype: object","3346 Martín Montoya Torralbo Name: player, ...",Serie A,2015/2016,inf
6983,0,1,0.141828,1,228,"3379 Atalanta Name: team, dtype: object","3379 Remo Freuler Name: player, dtype: object",Serie A,2015/2016,inf

In [31]:
# print head of agg_data where competition_id = 11, season_id = 27. note that competition_id and season_id are part of the index.
agg_data.loc[(11, 27)].head()

# In this agg_data.loc[(11, 27)], match_id_count should be at least 10. print it's head.
agg_data.loc[(11, 27)].loc[agg_data.loc[(11, 27)]['match_id_count'] >= 10].head(20)

,label_sum,label_count,probability_sum,match_id_count,team_id_first,team_first,player_first,competition_name_first,season_name_first,ratio
player_id,,,,,,,,,,
6602,2,11,4.341784,11,1041,"2809 Sporting Gijón Name: team, dtype: object",2809 Miguel Ángel Guerrero Martín Name: pla...,La Liga,2015/2016,2.170892
23970,1,12,1.798671,12,221,"3179 Levante UD Name: team, dtype: object",3179 José María Martín-Bejarano Serrano Nam...,La Liga,2015/2016,1.798671
6357,3,13,4.562100,13,222,"3682 Villarreal Name: team, dtype: object",3682 Jonathan dos Santos Ramírez Name: play...,La Liga,2015/2016,1.520700
10755,2,10,3.034435,10,208,"3463 Las Palmas Name: team, dtype: object","3463 Jonathan Viera Ramos Name: player, dty...",La Liga,2015/2016,1.517217
6862,4,14,5.817464,14,222,"3305 Villarreal Name: team, dtype: object","3305 Cédric Bakambu Name: player, dtype: ob...",La Liga,2015/2016,1.454366
4320,3,10,4.231055,10,217,"3251 Barcelona Name: team, dtype: object",3251 Neymar da Silva Santos Junior Name: pl...,La Liga,2015/2016,1.410352
7900,2,10,2.782234,10,360,"2982 Rayo Vallecano Name: team, dtype: object",2982 Tiago Manuel Dias Correia Name: player...,La Liga,2015/2016,1.391117
18398,3,15,4.060499,15,1041,"3424 Sporting Gijón Name: team, dtype: object","3424 Omar Mascarell González Name: player, ...",La Liga,2015/2016,1.353500
6622,3,13,4.028273,13,222,"3315 Villarreal Name: team, dtype: object","3315 Tomás Pina Isla Name: player, dtype: o...",La Liga,2015/2016,1.342758
6659,2,11,2.672921,11,221,"3164 Levante UD Name: team, dtype: object","3164 Víctor Camarasa Ferrando Name: player,...",La Liga,2015/2016,1.336460
26848,5,21,6.519401,21,360,"2836 Rayo Vallecano Name: team, dtype: object",2836 Roberto Trashorras Gayoso Name: player...,La Liga,2015/2016,1.303880
6805,7,20,9.022160,20,209,"3755 Celta Vigo Name: team, dtype: object","3755 Hugo Mallo Novegil Name: player, dtype...",La Liga,2015/2016,1.288880
5721,3,11,3.856543,11,220,"3293 Real Madrid Name: team, dtype: object","3293 Daniel Carvajal Ramos Name: player, dt...",La Liga,2015/2016,1.285514
7154,4,16,5.120859,16,213,"2910 Sevilla Name: team, dtype: object",2910 Sebastián Carlos Cristóforo Pepe Name:...,La Liga,2015/2016,1.280215
6745,6,19,7.628122,19,216,"2871 Getafe Name: team, dtype: object","2871 Mehdi Lacen Name: player, dtype: object",La Liga,2015/2016,1.271354
6389,5,12,6.308522,12,215,"3321 Athletic Club Name: team, dtype: object","3321 Mikel San José Domínguez Name: player,...",La Liga,2015/2016,1.261704
10802,6,17,7.543539,17,207,"3013 Valencia Name: team, dtype: object",3013 André Filipe Tavares Gomes Name: playe...,La Liga,2015/2016,1.257257
6742,4,15,4.985985,15,322,"2398 Eibar Name: team, dtype: object","2398 Sergio Gontán Gallardo Name: player, d...",La Liga,2015/2016,1.246496
6391,6,15,7.440310,15,215,"3206 Athletic Club Name: team, dtype: object","3206 Raúl García Escudero Name: player, dty...",La Liga,2015/2016,1.240052
6736,6,14,7.334505,14,216,"2876 Getafe Name: team, dtype: object","2876 Álvaro Medrán Just Name: player, dtype...",La Liga,2015/2016,1.222417

In [ ]:
# print agg_data head but filter if ratio is infinity and total_matches is atleast 10. and competition_id is 11 and season_id is 27
agg_data[(agg_data['ratio'] != float('Inf')) & (agg_data['total_matches'] >= 10) & (agg_data['competition_id'] == 11) & (agg_data['season_id'] == 27)].head()

In [38]:
# print head of agg_data where competition_id = 11, season_id = 27. note that competition_id and season_id are part of the index.
# agg_data.loc[(11, 27)].head()

# In this agg_data.loc[(11, 27)], match_id_count should be at least 10. print it's head.
agg_data.loc[(43, 106)].loc[(agg_data.loc[(43, 106)]['match_id_count'] >= 0) & (agg_data.loc[(43, 106)]['label_sum'] > 1)].head(20)

,label_sum,label_count,probability_sum,match_id_count,team_id_first,team_first,player_first,competition_name_first,season_name_first,ratio
player_id,,,,,,,,,,
19597,3,5,3.783627,5,779,"3978 Argentina Name: team, dtype: object","3978 Marcos Javier Acuña Name: player, dtyp...",FIFA World Cup,2022,1.261209
5618,2,4,2.424910,4,791,"3808 South Korea Name: team, dtype: object","3808 Woo-Young Jung Name: player, dtype: ob...",FIFA World Cup,2022,1.212455
5537,2,2,1.872235,2,773,"3095 Switzerland Name: team, dtype: object","3095 Fabian Lukas Schär Name: player, dtype...",FIFA World Cup,2022,0.936117
16489,2,2,1.870675,2,786,"3088 Serbia Name: team, dtype: object","3088 Nemanja Gudelj Name: player, dtype: ob...",FIFA World Cup,2022,0.935338
4734,2,2,1.869860,2,789,"3285 Poland Name: team, dtype: object","3285 Matty Cash Name: player, dtype: object",FIFA World Cup,2022,0.934930
5490,2,4,1.855708,4,792,"3964 Australia Name: team, dtype: object","3964 Jackson Irvine Name: player, dtype: ob...",FIFA World Cup,2022,0.927854
15957,2,2,1.787380,2,792,"3969 Australia Name: team, dtype: object","3969 Miloš Degenek Name: player, dtype: object",FIFA World Cup,2022,0.893690
16346,2,4,1.772031,4,2722,"3204 Cameroon Name: team, dtype: object","3204 Ngoran Suiru Fai Collins Name: player,...",FIFA World Cup,2022,0.886015
23830,2,2,1.691610,2,3565,"3042 Ecuador Name: team, dtype: object",3042 Jhegson Sebastián Méndez Carabalí Name...,FIFA World Cup,2022,0.845805
296254,2,3,1.653918,3,788,"3240 Morocco Name: team, dtype: object","3240 Walid Cheddira Name: player, dtype: ob...",FIFA World Cup,2022,0.826959
51094,2,2,1.622404,2,799,"2766 Saudi Arabia Name: team, dtype: object","2766 Abdulelah Al Amri Name: player, dtype:...",FIFA World Cup,2022,0.811202
16308,2,2,1.621097,2,779,"3858 Argentina Name: team, dtype: object","3858 Leandro Daniel Paredes Name: player, d...",FIFA World Cup,2022,0.810549
29595,2,2,1.526214,2,778,"3606 Japan Name: team, dtype: object","3606 Ko Itakura Name: player, dtype: object",FIFA World Cup,2022,0.763107
3436,2,2,1.476810,2,787,"2606 Senegal Name: team, dtype: object","2606 Idrissa Gana Gueye Name: player, dtype...",FIFA World Cup,2022,0.738405
5600,2,2,1.468733,2,795,"3601 Costa Rica Name: team, dtype: object",3601 Francisco Javier Calvo Quesada Name: p...,FIFA World Cup,2022,0.734367
27719,2,2,1.455095,2,786,"3078 Serbia Name: team, dtype: object","3078 Strahinja Pavlović Name: player, dtype...",FIFA World Cup,2022,0.727548
45047,2,2,1.420818,2,4885,"3381 Ghana Name: team, dtype: object","3381 Alidu Seidu Name: player, dtype: object",FIFA World Cup,2022,0.710409
48347,2,2,1.056080,2,782,"3409 Belgium Name: team, dtype: object","3409 Amadou Onana Name: player, dtype: object",FIFA World Cup,2022,0.528040

In [39]:
# print head of agg_data where competition_id = 11, season_id = 27. note that competition_id and season_id are part of the index.
# agg_data.loc[(11, 27)].head()

# In this agg_data.loc[(11, 27)], match_id_count should be at least 10. print it's head.
agg_data.loc[(43, 3)].loc[(agg_data.loc[(43, 3)]['match_id_count'] >= 0) & (agg_data.loc[(43, 3)]['label_sum'] > 1)].head(20)

,label_sum,label_count,probability_sum,match_id_count,team_id_first,team_first,player_first,competition_name_first,season_name_first,ratio
player_id,,,,,,,,,,
5540,2,4,2.543204,4,773,"3076 Switzerland Name: team, dtype: object","3076 Valon Behrami Name: player, dtype: object",FIFA World Cup,2018,1.271602
3961,2,4,2.366765,4,771,"3647 France Name: team, dtype: object","3647 N''Golo Kanté Name: player, dtype: object",FIFA World Cup,2018,1.183382
3381,2,3,2.076040,3,786,"3099 Serbia Name: team, dtype: object","3099 Nemanja Matić Name: player, dtype: object",FIFA World Cup,2018,1.038020
5461,2,2,1.954723,2,785,"3213 Croatia Name: team, dtype: object","3213 Šime Vrsaljko Name: player, dtype: object",FIFA World Cup,2018,0.977361
5641,2,3,1.950236,3,798,"3357 Panama Name: team, dtype: object",3357 Michael Amir Murillo Bermudez Name: pl...,FIFA World Cup,2018,0.975118
3027,2,2,1.883668,2,776,"4106 Denmark Name: team, dtype: object",4106 Mathias Jattah-Njie Jørgensen Name: pl...,FIFA World Cup,2018,0.941834
5612,2,3,1.849970,3,790,"3066 Sweden Name: team, dtype: object","3066 Mikael Lustig Name: player, dtype: object",FIFA World Cup,2018,0.924985
5537,2,2,1.823288,2,773,"3046 Switzerland Name: team, dtype: object","3046 Fabian Lukas Schär Name: player, dtype...",FIFA World Cup,2018,0.911644
20005,2,2,1.796943,2,782,"3382 Belgium Name: team, dtype: object","3382 Toby Alderweireld Name: player, dtype:...",FIFA World Cup,2018,0.898471
5578,2,2,1.773431,2,770,"3384 Germany Name: team, dtype: object","3384 Jérôme Boateng Name: player, dtype: ob...",FIFA World Cup,2018,0.886715
5506,2,4,1.771743,4,779,"2588 Argentina Name: team, dtype: object",2588 Javier Alejandro Mascherano Name: play...,FIFA World Cup,2018,0.885871
5465,2,4,1.760933,4,785,"3764 Croatia Name: team, dtype: object","3764 Ante Rebić Name: player, dtype: object",FIFA World Cup,2018,0.880466
5260,2,4,1.758343,4,783,"3055 Uruguay Name: team, dtype: object","3055 Rodrigo Bentancur Colmán Name: player,...",FIFA World Cup,2018,0.879172
5507,2,3,1.745413,3,779,"2583 Argentina Name: team, dtype: object",2583 Nicolás Alejandro Tagliafico Name: pla...,FIFA World Cup,2018,0.872706
6298,2,2,1.708801,2,796,"3049 Russia Name: team, dtype: object","3049 Igor Smolnikov Name: player, dtype: ob...",FIFA World Cup,2018,0.854400
5236,2,2,1.658425,2,788,"3347 Morocco Name: team, dtype: object","3347 Karim El Ahmadi Al Aroos Name: player,...",FIFA World Cup,2018,0.829212
5617,3,5,2.440288,5,790,"3393 Sweden Name: team, dtype: object","3393 Sebastian Larsson Name: player, dtype:...",FIFA World Cup,2018,0.813429
5469,2,3,1.618255,3,785,"3766 Croatia Name: team, dtype: object","3766 Marcelo Brozović Name: player, dtype: ...",FIFA World Cup,2018,0.809127
5645,2,2,1.583999,2,798,"3347 Panama Name: team, dtype: object",3347 Armando Enrique Cooper Whitaker Name: ...,FIFA World Cup,2018,0.792000
5650,2,2,1.578783,2,777,"3107 Tunisia Name: team, dtype: object","3107 Ferjani Sassi Name: player, dtype: object",FIFA World Cup,2018,0.789392

In [40]:
# print head of agg_data where competition_id = 11, season_id = 27. note that competition_id and season_id are part of the index.
# agg_data.loc[(11, 27)].head()

# In this agg_data.loc[(11, 27)], match_id_count should be at least 10. print it's head.
agg_data.loc[(55, 43)].loc[(agg_data.loc[(55, 43)]['match_id_count'] >= 0) & (agg_data.loc[(55, 43)]['label_sum'] > 1)].head(20)

,label_sum,label_count,probability_sum,match_id_count,team_id_first,team_first,player_first,competition_name_first,season_name_first,ratio
player_id,,,,,,,,,,
5834,2,3,2.680406,3,773,"4847 Switzerland Name: team, dtype: object","4847 Mario Gavranović Name: player, dtype: ...",UEFA Euro,2020,1.340203
5476,2,5,2.362643,5,771,"3229 France Name: team, dtype: object","3229 Benjamin Pavard Name: player, dtype: o...",UEFA Euro,2020,1.181321
3853,2,3,2.206155,3,907,"3040 Wales Name: team, dtype: object",3040 Kieffer Roberto Francisco Moore Name: ...,UEFA Euro,2020,1.103077
8808,2,3,2.082665,3,770,"3353 Germany Name: team, dtype: object","3353 Matthias Ginter Name: player, dtype: o...",UEFA Euro,2020,1.041332
6797,2,2,1.899538,2,776,"3886 Denmark Name: team, dtype: object","3886 Daniel Wass Name: player, dtype: object",UEFA Euro,2020,0.949769
31887,2,4,1.867663,4,916,"3193 Hungary Name: team, dtype: object","3193 Endre Botka Name: player, dtype: object",UEFA Euro,2020,0.933831
4875,2,2,1.812149,2,912,"3072 Czech Republic Name: team, dtype: object","3072 Jan Bořil Name: player, dtype: object",UEFA Euro,2020,0.906075
5203,2,3,1.802017,3,772,"4308 Spain Name: team, dtype: object","4308 Sergio Busquets i Burgos Name: player,...",UEFA Euro,2020,0.901008
7173,2,2,1.761501,2,914,"4330 Italy Name: team, dtype: object","4330 Leonardo Bonucci Name: player, dtype: ...",UEFA Euro,2020,0.880751
3637,3,3,2.640397,3,789,"3161 Poland Name: team, dtype: object","3161 Grzegorz Krychowiak Name: player, dtyp...",UEFA Euro,2020,0.880132
8963,2,2,1.690962,2,909,"3743 Turkey Name: team, dtype: object","3743 Caglar Söyüncü Name: player, dtype: ob...",UEFA Euro,2020,0.845481
3471,2,2,1.551901,2,785,"3057 Croatia Name: team, dtype: object","3057 Dejan Lovren Name: player, dtype: object",UEFA Euro,2020,0.775950
3336,3,3,2.297364,3,768,"4527 England Name: team, dtype: object","4527 Harry Maguire Name: player, dtype: object",UEFA Euro,2020,0.765788
4713,2,2,1.369056,2,2358,"3282 North Macedonia Name: team, dtype: object","3282 Ezgjan Alioski Name: player, dtype: ob...",UEFA Euro,2020,0.684528

In [41]:
# print head of agg_data where competition_id = 11, season_id = 27. note that competition_id and season_id are part of the index.
# agg_data.loc[(11, 27)].head()

# In this agg_data.loc[(11, 27)], match_id_count should be at least 10. print it's head.
agg_data.loc[(1238, 108)].loc[(agg_data.loc[(1238, 108)]['match_id_count'] >= 0) & (agg_data.loc[(1238, 108)]['label_sum'] > 1)].head(20)

,label_sum,label_count,probability_sum,match_id_count,team_id_first,team_first,player_first,competition_name_first,season_name_first,ratio
player_id,,,,,,,,,,
124740,2,6,3.262751,6,7284,"3197 Bengaluru Name: team, dtype: object","3197 Udanta Kumam Singh Name: player, dtype...",Indian Super league,2021/2022,1.631375
162755,2,6,2.732299,6,7285,"3029 NorthEast United Name: team, dtype: ob...","3029 Mohammed Irshad Name: player, dtype: o...",Indian Super league,2021/2022,1.366150
163357,5,14,6.706802,14,7283,"2381 Kerala Blasters Name: team, dtype: object","2381 Lalthathanga Khawlhring Name: player, ...",Indian Super league,2021/2022,1.341360
124745,2,4,2.627936,4,7284,"2655 Bengaluru Name: team, dtype: object",2655 Muhammad Ashique Kuruniyan Name: playe...,Indian Super league,2021/2022,1.313968
164487,3,4,3.810385,4,7289,"2775 Hyderabad Name: team, dtype: object","2775 Sahil Tavora Name: player, dtype: object",Indian Super league,2021/2022,1.270128
170691,3,7,3.733548,7,7282,"2892 ATK Mohun Bagan Name: team, dtype: object",2892 José Luis Espinosa Arroyo Name: player...,Indian Super league,2021/2022,1.244516
9989,2,5,2.482583,5,7282,"3094 ATK Mohun Bagan Name: team, dtype: object","3094 Carl Gerard McHugh Name: player, dtype...",Indian Super league,2021/2022,1.241291
162752,2,5,2.440574,5,7285,"2620 NorthEast United Name: team, dtype: ob...","2620 Pragyan Sundar Gogoi Name: player, dty...",Indian Super league,2021/2022,1.220287
163342,2,7,2.336630,7,7282,"2755 ATK Mohun Bagan Name: team, dtype: object","2755 Hugo Adnan Boumous Name: player, dtype...",Indian Super league,2021/2022,1.168315
124769,3,5,3.481615,5,7287,"2929 Mumbai City Name: team, dtype: object","2929 Vinit Rai Chamling Name: player, dtype...",Indian Super league,2021/2022,1.160538
161109,2,4,2.309559,4,7286,"2186 East Bengal Name: team, dtype: object","2186 Sourav Das Name: player, dtype: object",Indian Super league,2021/2022,1.154780
166425,2,5,2.307858,5,7286,"3191 East Bengal Name: team, dtype: object","3191 Naorem Mahesh Singh Name: player, dtyp...",Indian Super league,2021/2022,1.153929
124756,3,6,3.233042,6,7282,"3200 ATK Mohun Bagan Name: team, dtype: object","3200 Subhasish Bose Name: player, dtype: ob...",Indian Super league,2021/2022,1.077681
83332,2,3,2.145234,3,7284,"2071 Bengaluru Name: team, dtype: object",2071 Prince Vinny Ibara Doniama Name: playe...,Indian Super league,2021/2022,1.072617
188297,2,3,2.136158,3,7286,"3222 East Bengal Name: team, dtype: object","3222 Naocha Huidrom Singh Name: player, dty...",Indian Super league,2021/2022,1.068079
26754,2,5,2.120277,5,7288,"2893 Goa Name: team, dtype: object","2893 Eduardo Bedia Peláez Name: player, dty...",Indian Super league,2021/2022,1.060139
51364,2,4,2.073698,4,7290,"3208 Chennaiyin Name: team, dtype: object","3208 Vladimir Koman Jr. Name: player, dtype...",Indian Super league,2021/2022,1.036849
162212,4,8,4.104228,8,7291,"2630 Odisha Name: team, dtype: object",2630 Lalruatthara Lalruatthara Name: player...,Indian Super league,2021/2022,1.026057
8202,3,5,2.969523,5,7290,"2711 Chennaiyin Name: team, dtype: object","2711 Ariel Borysiuk Name: player, dtype: ob...",Indian Super league,2021/2022,0.989841
159778,3,5,2.933150,5,7288,"2311 Goa Name: team, dtype: object","2311 Seriton Fernandes Name: player, dtype:...",Indian Super league,2021/2022,0.977717